.columns.svelte-ojxfqd{display:grid;grid-template-columns:1fr 1fr;gap:2rem}ul.svelte-ojxfqd{list-style:none;padding:0}li.svelte-ojxfqd{margin-bottom:.5rem}button.svelte-ojxfqd{margin-left:1rem}h2.svelte-ojxfqd{margin-bottom:.5rem}
